html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #ffffff;
  background-color: $dark;
  position: relative;
  min-width: 320px;
  overflow-x: hidden;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-top: 40px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 90px;
    height: 6px;
    background: #c8a35f;
  }
}

.btn {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #c8a35f;
  padding: 18px 48px;
}
