@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
  position: relative;
  height: 100vh;
  background: linear-gradient(
      0deg,
      rgba(47, 52, 58, 0.75),
      rgba(47, 52, 58, 0.75)
    ),
    url(../img/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.header__top {
  background-color: $light;
  padding: 16px 0;
  &-inner {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 14px;
  }
}
.lang {
  display: flex;
  text-transform: uppercase;
  &-item {
    & + .lang-item {
      margin-left: 10px;
    }
  }
}
.header__bottom {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  padding: 27px 0;
  background-color: $dark;
  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-left {
    display: flex;
    align-items: center;
  }
}
.logo {
  padding-right: 30px;
}
.location {
  border-left: 1px solid #f2f2f2;
  padding-left: 65px;
  height: 45px;
  display: flex;
  align-items: center;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    background-image: url(../img/marker.svg);
    width: 25px;
    height: 25px;
    left: 20px;
  }
}
.menu {
  text-transform: uppercase;
  &-item {
    display: inline-block;
    & + .menu-item {
      margin-left: 30px;
    }
  }

}
.menu-btn {
  position: absolute;
  width: 40px;
  height: 30px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  right: 15px;
  top: 35px;
  &__line {
    height: 4px;
    width: 40px;
    background-color: $light;
  }
}

.header__content {
  text-align: center;
  padding: 70px 45px;
  max-width: 920px;
  margin: 0 auto;
  margin-top: 10%;
  border: 1px solid $light;
}
.header__title {
  font-weight: 700;
  font-size: 64px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.header__text {
  font-size: 18px;
  line-height: 28px;
}

.btn-down {
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  text-align: center;
}

.main {
  background-color: $light-dark;
  padding-top: 120px;
  padding-bottom: 130px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 400px;
    background-color: $dark;
    top: 0;
    right: 50%;
    transform: translateX(50%);
  }
}
.main__slider {
  position: relative;
}
.slider-arrows {
  position: absolute;
  right: 0;
  z-index: 5;
}
.main__slider-content {
  max-width: 445px;
}
.main__slider-item {
  display: flex;
  align-items: center;
  width: 100%;
}
.main__slider-text {
  font-size: 18px;
  line-height: 28px;
  margin-top: 3px;
  margin-bottom: 50px;
}

.transfer {
  padding: 120px 0;
}
.transfer__cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
.transfer__card {
  text-align: center;
  flex-basis: 25%;
  background-color: $light-dark;
  padding: 35px 0;
  border: 0.5px solid $dark;
  transition: all 0.3s;
  &-img {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  &-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  &:hover {
    background-color: $light;
    .transfer__card-img {
      background-color: #fff;
      svg {
        path {
          fill: $dark;
        }
      }
    }
  }
}

.about {
  padding-bottom: 120px;
}
.about__inner {
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 400px;
    background-color: $light-dark;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    z-index: -1;
  }
}
.about__content {
  max-width: 445px;
}
.about__content-text {
  font-size: 16px;
  line-height: 23px;
  margin-top: 30px;
}

.about__cards {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}
.about__card {
  flex-basis: 33.33333%;
  height: 160px;
  border: 0.5px solid $light;
  background-color: #fff;
  color: $dark;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &-number {
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 0.05em;
  }
  &-title {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    margin-bottom: 15px;
  }
  &-subtitle {
    font-size: 12px;
    line-height: 14px;
  }
}

.footer {
  background-color: $light;
  padding: 60px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__info {
    font-size: 14px;
    line-height: 16px;
    color: #f2f2f2;
    span {
      display: block;
      font-size: 14px;
      line-height: 16px;
      color: $dark;
      margin-top: 10px;
    }
  }
  &__phone {
    a {
      display: block;
      font-size: 14px;
      line-height: 16px;
      color: #f2f2f2;
      margin-top: 10px;
    }
  }
}
.copyright {
  font-size: 14px;
  line-height: 16px;
  color: $dark;
  text-decoration-line: underline;
}

@import "media";
